/*Nav*/
nav {
    background-color: rgb(59, 80, 54); 
    padding: 0.5%; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#navList {
    list-style-type: none;
    padding:1%;   
    margin-top:0px; 
} 

#navList li {
    display: inline;
    color:#ffff; 
    margin:15px; 
} 

a {
    text-decoration:none; 
    color:beige; 
    padding: 2%; 
    font-weight: bold;
    font-size: 1.5em;
}

/*För active och hover*/
a:hover {
    color:rgb(255, 208, 0);  
} 

nav h1 {
    color: beige;
} 

.active {
    background-color:rgb(44, 59, 40); 
    padding:10%;
    color:rgb(255, 208, 0) 
}

@media (max-width:1081px){
    nav h1 {
        display: none;
    } 

    nav {
        justify-content: center; 
    }

    .active {
        padding: 7%; 
    }
}

@media (min-width: 551px) and (max-width:884px){
    .active {
        padding:5%; 
    }
}

@media (max-width: 550px) {
    nav {
        flex-direction: column;
    }

    .active {
        padding: 3%; 
    }
}