/*Nav*/
nav {
    background-color: rgb(59, 80, 54); 
    padding: 0.5%; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#navList {
    list-style-type: none;
    padding:1%;   
    margin-top:0px; 
} 

#navList li {
    display: inline;
    color:#ffff; 
    margin:15px; 
} 

a {
    text-decoration:none; 
    color:beige; 
    padding: 2%; 
    font-weight: bold;
    font-size: 1.5em;
}

li:hover {
    background-color:rgb(44, 59, 40);
    padding:3%;  
} 

nav h1 {
    color: beige;
}

