<h2>Om sidan</h2>

<div id="pictureContainer">
    <img [src]="profilePic" alt="Ritad profilbild av mig"> <!--bild hämtad från property-->
</div> 

<p>
    Här ska det stå hur jag byggt sidan och slutsatser om det! Typ att det sparar tid och är väldigt smidigt! Koll för att se hur texten ser ut. 
    <br>
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ducimus veniam quidem. Mollitia blanditiis consectetur 
    consequatur! Expedita impedit, consectetur omnis labore quo atque ab minus ipsam, illo in dicta eaque.
</p>