<h2>Om sidan</h2>

<div id="pictureContainer">
    <img [src]="profilePic" alt="Ritad profilbild av mig"> <!--bild hämtad från property-->
</div> 

<p>
    Denna uppgift har varit mycket rolig att lösa. Att skriva kod med angular känns som att ha en liten hjälpreda. Det gör koden 
    snyggare och enklare att hålla reda på. I större projket kan jag tänka mig att det är smidigt att ha olika delar av 
    sidan som komponenter. Det gör det lättare att felsöka och styla enskilda delar av en större webbplats. 
    <br>
    <br>
    Denna webbplats är uppbyggd på tre undersidor: startsidan, sidan för konvertering och denna sidan. Footer och header är komponenter som 
    återfinns på alla sidor. Sedan är konverterar-sidan uppbyggd av en komponent för längd-konverteraren med funktionalitet och en för 
    temp-konverteraren med funktionalitet. 
    <br>
    <br>
    Bilden som skulle inkluderas inkulderas på denna sida. Ett litet självporträtt sparat ner som JPG. 
</p>